body,ul,li,ol,dd,dt,dt,a {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-size: 16px;
	color: #333333;
}
/**/
/*头部*/
.head {
	width: 1366px;
	padding: 0 50px;
}
.logo {
	float: left;
	padding: 10px 0;
}
.nav {
	float: right;
}
.nav a {
	width: 144px;
	display: inline-block;
	text-align: center;
	line-height: 80px;
}
.nav a.active {
	background: url("../images/or.png") no-repeat center;
	color: #ffffff;
}
/*banner*/
.banner {
	width: 100%;
}
.swiper-container {
	width: 100%;
}
.banner img {
	width: 100%;
}
.swiper-pagination-bullet {
	border: 1px solid #F29800;
	background: none;
	opacity: 1;
}
.swiper-pagination-bullet-active {
	background: #F29800;
}
/*公司简介*/
.company {
	width: 1117px;
	margin: 0 auto;
}
.title-img {
	margin: 0px 0 70px;
	text-align: center;
}
.img1 {
	/*float: left;*/
	width: 422px;
}
.font1 {
	/*float: left;*/
	width: 667px;
	margin-left: 28px;
	color: #4C4C4C;
	line-height: 24px;
}
.font1 h1 {
	color: #333333;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 40px;
	margin-top: 20px;
}
.content {
	width: 1366px;
	margin: 0 auto;
	/*display: inline-block;*/
	margin-bottom: 62px;
}
/*贷款业务*/
.loan,.odds,.application,.foot-top {
	justify-content: space-between;
}
.loan-item {
	width: 290px;
	height: auto;
	box-shadow:0 2px 12px 0 rgba(0,0,0,0.16);
	border-radius:4px;
	cursor: pointer;
}
.loan-top {
	padding: 50px 0 30px 0;
	text-align: center;
	background:#f4f4f4;
	position: relative;
	border-radius: 4px 4px 0 0;
}
.loan-top img {
	/*width: 96px;
    height: 93px;*/
	margin-bottom: 30px;
}
.loan-top p {
	font-size:20px;
	color:#333333;
}
.loan-top span {
	font-size:14px;
	color:#808080;
}
.loan-bottom {
	background:#ffffff;
	padding: 21px 0 21px 0;
	border-radius: 0 0 4px 4px;
	text-align: center;
}
.loan-btn {
	background-image:linear-gradient(-180deg, #ffcb72 2%, #fa9241 98%);
	border:1px solid #d27b2f;
	border-radius:4px;
	width:98px;
	height:38px;
	color: #fff;
	margin: 0 auto;
	line-height: 38px;
	cursor: pointer;
}
/**/
.odds-item {
	width: 260px;
	height: auto;
	/*background-image:linear-gradient(-180deg, #fed081 3%, #fa903f 100%);*/
	/*box-shadow:0 2px 12px 0 rgba(0,0,0,0.16);*/
	border-radius:4px;
	cursor: pointer;
}
.odds-cont {
	padding: 30px 0 55px 0;
	text-align: center;
	position: relative;
}
.odds-img {
	width: 114px;
    height: 114px;
    margin: 0 auto;
    line-height: 114px;
	margin-bottom: 36px;
	background-image:linear-gradient(-180deg, #fed081 3%, #fa903f 100%);
	border-radius: 50%;
}
.odds-img img {
	width: 71px;
	height: 71px;
}
.odds-cont p {
	font-size:20px;
	/*color:#ffffff;*/
	margin-bottom: 7px;
}
.odds-cont span {
	font-size:14px;
	/*color:#ffffff;*/
	color:#808080;
}
.pentagon {
	position: relative;
    width: 160px;
    border-width: 95px 18px 0;
    border-style: solid;
    border-color: #515151 transparent;
}
.pentagon:before {
	content: "";
    position: absolute;
    height: 0;
    width: 0px;
    top: -155px;
    left: -18px;
    border-width: 0px 80px 60px;
    border-style: solid;
    border-color: transparent transparent #515151;
}
.application-cont {
	text-align: center;
	position: relative;
	cursor: pointer;
}
.application-cont p {
	margin-top: 22px;
	font-size:20px;
	color:#333333;
}
.pentagon img {
	width: 48px;
    height: 102px;
    position: absolute;
    top: -118px;
    left: 34px;
}
.application-cont img {
	width: 162px;
    height: 152px;
}
/**/
.greybg {
	background-color: #f3f3f3;
	padding-bottom: 80px;
}
.pinpai .container {
	width: 100%;
	height: 100px;
	/*margin: 20px auto;*/
	/*margin-bottom: 80px;*/
}
.pinpai .wrapper .swiper-slide {
	text-align: center;
	font-size: 18px;
	/*background: #fff;*/

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.pinpai .swiper-btn {
	background-image: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background:#ffffff;
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.16);
	text-align: center;
	line-height: 50px;
}
.pinpai .swiper-btn img {
	width: 9px;
    height: 16px;
}
.paddingt95 {
	padding-top: 95px;
}
.paddingt45 {
	padding-top: 45px;
}
.application {
	margin-bottom: 95px;
}
/**/
.footer-warrp {
	width: 100%;
	background:#393939;
	padding: 40px 0 40px 0;
	color: #fff;
}
.foot-top {
	width: 1172px;
	margin: 0 auto;
}
.foot-top-warrp {
	padding-bottom: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}
.foot-bottom-warrp {
	padding-top: 35px;
}
.foot-bottom-warrp {
	width: 1172px;
	margin: 0 auto;
	justify-content: space-between;
}
.foot-big {
	font-size: 17px;
	margin-bottom: 25px;
}
.foot-center {
	font-size: 14px;
	/*margin-bottom: 19px;*/
}
.marginb20 {
	margin-bottom: 20px;
}
.margint49 {
	margin-top: 49px;
}
.returntop {
	cursor: pointer;
}
.hands {
	background: url(../images/hands.png)no-repeat center;
    width: 16px;
    height: 19px;
    position: absolute;
    background-size: 100%;
    /*top: -10px;*/
	left: 50%;
    bottom: 5px;
	opacity: 0;
}
.loan-item:hover .loan-top {
	background-image:linear-gradient(-180deg, #ffca71 0%, #fa903f 100%);
	-o-transition: background-image .3s ease-in .0s; /* Opera */
	-webkit-transition:background-image .3s ease-in .0s;
	-moz-transition:background-image .3s ease-in .0s;
	transition:background-image .3s ease-in .0s;
}
.loan-item:hover .hands {
	opacity: 1;
	-o-transition: opacity .3s ease-in .0s; /* Opera */
	-webkit-transition:opacity .3s ease-in .0s;
	-moz-transition:opacity .3s ease-in .0s;
	transition:opacity .3s ease-in .0s;
}
.odds-item:hover {
	background-image: linear-gradient(-180deg, #fed081 3%, #fa903f 100%);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.16);
	color: #fff;
}
.odds-item:hover .odds-img {
	background-image: none;
	background-color: #fff;
}
.odds-item:hover span {
	color: #fff;
}
.odds-item:hover .hands {
	opacity: 1;
	-o-transition: opacity .3s ease-in .0s; /* Opera */
	-webkit-transition:opacity .3s ease-in .0s;
	-moz-transition:opacity .3s ease-in .0s;
	transition:opacity .3s ease-in .0s;
}
.bottom46 {
	bottom:46px;
}
.application-cont:hover .hands {
	opacity: 1;
   -o-transition: opacity .3s ease-in .0s; /* Opera */
   -webkit-transition:opacity .3s ease-in .0s;
   -moz-transition:opacity .3s ease-in .0s;
   transition:opacity .3s ease-in .0s;
}
.pinpai .swiper-slide {
	position: relative;
	cursor: pointer;
}
.pinpai .swiper-slide img {
	width:136px;
	height: 50px;
	transition:width .2s, height .2s, box-shadow .2s, transform .2s;
}
.pinpai .swiper-slide:hover img {
	width: 230px;
	height: 75px;
	box-shadow:0 2px 12px 0 rgba(0,0,0,0.16);
}
.pinpai .swiper-slide:hover .hands {
	opacity: 1;
	-o-transition: opacity .3s ease-in .0s; /* Opera */
    -webkit-transition:opacity .3s ease-in .0s;
    -moz-transition:opacity .3s ease-in .0s;
    transition:opacity .3s ease-in .0s;
}
.loan-one {
	width: 113px;
	height: 78px;
}
.loan-two {
	width: 93px;
	height: 93px;
}
.loan-three {
	width: 100px;
	height: 95px;
}
.loan-four {
	width: 94px;
	height: 84px;
}
.odds-img-three {
	width: 51px !important;
	height: 61px !important;
}
