<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>火星车</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/swper.min.css">
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../css/base.css">
</head>
<body>
	<div class="head">
		<div class="logo">
			<img src="../images/logo.png" alt="">
		</div>
		<div class="nav">
			<a href="index.html">首页</a>
			<a href="buy.html">买车</a>
			<a href="money.html">贷款</a>
			<a href="car.html">车源采购</a>
			<a class="active" href="about.html">关于我们</a>
		</div>
	</div>
	<div class="banner">
		<div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="">
                        <img src="../images/banner1.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="../images/banner2.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="../images/banner3.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="../images/banner4.png" alt="">
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
	<section class="cont-warrp">
		<div class="content">
			<div class="main-topic about-tab">
				<span class="about-tab-active">关于我们</span>
				<span>联系方式</span>
			</div>
			<div class="about-cont">
				<div class="about-panel display-none about-panel-active">
					<h4 class="about-tit">【火星车】 —— 以专业为本，以用户为上，让车商和用户都更为便捷！</h4>
					<p>伴着互联网+的大风，豆蔓旗下火星车平台随势而生， 通过汽车+渠道+金融+用户的整合运营方式，基于移动互联网技术及卓越的金融管理背景，火星车团队打造了一款能够为用户提供便捷、透明、价优、安全的“购车租车神器”。</p>
					<p>平台前期以平行进口车为业务核心，同时涵盖了新车在售、二手车品牌认证、汽车金融、车辆保险、汽车经纪、售后管理等综合性服务。</p>
					<img class="about-img" src="../images/aboutus.png" alt="">
				</div>
				<div class="about-panel display-none">
					<h4 class="about-tit">全国分支机构</h4>
					<div class="company-list displayflex">
						<div class="company-item flex1">
							<p><b>公司：</b><span>火星车烟台分公司</span></p>
							<p><b>地址：</b><span>山东省烟台市菜山区迎春大街163号天和大厦10层</span></p>
							<p><b>电话：</b><span>18865600678</span></p>
						</div>
						<div class="company-item flex1">
							<p><b>公司：</b><span>火星车合肥分公司</span></p>
							<p><b>地址：</b><span>安徽省合肥市瑶海区站西路君临大厦19层</span></p>
							<p><b>电话：</b><span>13966768551</span></p>
						</div>
					</div>
					<div class="company-list">
						<div class="company-item flex1">
							<p><b>公司：</b><span>火星车苏州分公司</span></p>
							<p><b>地址：</b><span>江苏省苏州市吴中区木渎镇金枫南路699号幸福城邦家园9幢1层</span></p>
							<p><b>电话：</b><span>13373631220</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer-warrp">
		<div class="foot-top-warrp">
			<div class="foot-top displayflex">
				<div class="foot-item">
					<p class="foot-big">版权信息</p>
					<p class="foot-center marginb20">&copy;Copyright© 北京火星车有限公司</p>
					<p class="foot-center">京ICP备16014307号-1</p>
				</div>
				<div class="foot-item">
					<p class="foot-big">联系我们</p>
					<p class="foot-center marginb20">地址：北京市朝阳区浦项中心b座26层</p>
					<p class="foot-center">邮编：100020</p>
				</div>
				<div class="foot-item">
					<!-- <p>联系我们</p> -->
					<p class="foot-center marginb20 margint49">联系方式：400-0339-393</p>
					<p class="foot-center">Email：hxckf@douman.com</p>
				</div>
			</div>
		</div>
		<div class="foot-bottom-warrp displayflex">
			<div class="">
				关于我们
			</div>
			<div class="returntop">
				<img style="width:15px;height:20px;" src="../images/arrow-up.png" alt="">
				返回顶部
			</div>
		</div>
	</footer>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/swper.min.js"></script>
<script src="../js/public.js"></script>
</html>
