<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>火星车</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/swper.min.css">
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../css/base.css">
</head>
<body>
	<!-- <section class="buy"> -->
		<div class="buy">
			<div class="buy-warrp margint30">
					<div class="buy-row">
						<div class="buy-item">
							<img class="caritem" src="../images/car-item.png" alt="">
							<p class="car-name">丰田-卡罗拉2017款 改款双擎<br><span>1.8L CVT先锋版</span></p>
							<span class="car-money">折扣价：12.78万</span>
							<span class="disable">13.98万</span>
							<div class="apply-btn">
								立即申请
							</div>
						</div>
						<div class="buy-item">
							<img class="caritem" src="../images/car-item.png" alt="">
							<p class="car-name">丰田-卡罗拉2017款 改款双擎<br><span>1.8L CVT先锋版</span></p>
							<span class="car-money">折扣价：12.78万</span>
							<span class="disable">13.98万</span>
							<div class="apply-btn">
								立即申请
							</div>
						</div>
						<div class="buy-item">
							<img class="caritem" src="../images/car-item.png" alt="">
							<p class="car-name">丰田-卡罗拉2017款 改款双擎<br><span>1.8L CVT先锋版</span></p>
							<span class="car-money">折扣价：12.78万</span>
							<span class="disable">13.98万</span>
							<div class="apply-btn">
								立即申请
							</div>
						</div>
						<div class="buy-item">
							<img class="caritem" src="../images/car-item.png" alt="">
							<p class="car-name">丰田-卡罗拉2017款 改款双擎<br><span>1.8L CVT先锋版</span></p>
							<span class="car-money">折扣价：12.78万</span>
							<span class="disable">13.98万</span>
							<div class="apply-btn">
								立即申请
							</div>
						</div>
					</div>
			</div>
		</div>

		<div class="page-warrp">

		</div>
		<!-- 信息提交反馈 -->
		<div class="info-warrp">
			<div class="info-main">
				<div class="info-topic displayflex">
					<span class="flex1">填写申请信息：</span>
					<span class="close"></span>
				</div>
				<div class="info-cont buy-from">
					<form class="">
						<p class="input-topic">申请人姓名</p>
						<input class="buy-input" type="text" name="" value="">
						<!-- <p class="prompt-info"><span class="shape"></span>请填写信息</p> -->
						<p class="input-topic">申请人所在城市</p>
						<input class="buy-input" type="text" name="" value="">
						<!-- <p class="prompt-info"><span class="shape"></span>请填写信息</p> -->
						<p class="input-topic">申请人手机号码</p>
						<input class="buy-input" type="text" name="" value="">
						<!-- <p class="prompt-info"><span class="shape"></span>请填写信息</p> -->
						<button class="buy-btn" type="submit" name="button">快速申请</button>
					</form>
				</div>
			</div>
		</div>
	<!-- </section> -->
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/swper.min.js"></script>
<script src="../js/public.js"></script>
</html>
