<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>火星车</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/swper.min.css">
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../css/base.css">
</head>
<body>
	<div class="head">
		<div class="logo">
			<img src="../images/logo.png" alt="">
		</div>
		<div class="nav">
			<a href="index.html">首页</a>
			<a class="active" href="buy1.html">买车</a>
			<a href="money.html">贷款</a>
			<a href="car.html">车源采购</a>
			<a href="about.html">关于我们</a>
		</div>
	</div>
	<div class="banner">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="">
						<img src="../images/banner5.png" alt="">
					</a>
				</div>
				<div class="swiper-slide">
					<a href="">
						<img src="../images/banner6.png" alt="">
					</a>
				</div>
				<div class="swiper-slide">
					<a href="">
						<img src="../images/banner7.png" alt="">
					</a>
				</div>
				<div class="swiper-slide">
					<a href="">
						<img src="../images/banner8.png" alt="">
					</a>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<!-- <section class="buy"> -->
		<div class="buy">
			<div class="buy-warrp margint30">
					<div class="buy-row">
						<div class="buy-item">
							<img class="caritem" src="../images/car9.png" alt="">
							<p class="car-name">别克-君威2017款<br><span>28T 尊贵型</span></p>
							<span class="car-money">折扣价：23.98万</span>
							<span class="disable">23.98万</span>
							<div class="apply-btn">
								立即申请
							</div>
						</div>
						<div class="buy-item">
							<img class="caritem" src="../images/car10.png" alt="">
							<p class="car-name">宝马3系2017款<br><span>320Li 时尚型</span></p>
							<span class="car-money">折扣价：32.59万</span>
							<span class="disable">32.59万</span>
							<div class="apply-btn">
								立即申请
							</div>
						</div>
						<div class="buy-item">
							<img class="caritem" src="../images/car11.png" alt="">
							<p class="car-name">大众-迈腾2017款<br><span>330TSI DSG 豪华型</span></p>
							<span class="car-money">折扣价：15.27万</span>
							<span class="disable">23.49万</span>
							<div class="apply-btn">
								立即申请
							</div>
						</div>
						<div class="buy-item">
							<img class="caritem" src="../images/car12.png" alt="">
							<p class="car-name">吉利-博瑞2017款<br><span>1.8T 旗舰4G型</span></p>
							<span class="car-money">折扣价：17.98万</span>
							<span class="disable">17.98万</span>
							<div class="apply-btn">
								立即申请
							</div>
						</div>
					</div>
					<div class="buy-row">
						<div class="buy-item">
							<img class="caritem" src="../images/car13.png" alt="">
							<p class="car-name">奥迪A4L2017款<br><span>Plus 40 TFSI 进取型</span></p>
							<span class="car-money">折扣价：24.28万</span>
							<span class="disable">24.98万</span>
							<div class="apply-btn">
								立即申请
							</div>
						</div>
						<div class="buy-item">
							<img class="caritem" src="../images/car14.png" alt="">
							<p class="car-name">丰田-凯美瑞2016款 双擎<br><span>2.5HG 十周年纪念豪华导航版</span></p>
							<span class="car-money">折扣价：23.28万</span>
							<span class="disable">25.90万</span>
							<div class="apply-btn">
								立即申请
							</div>
						</div>
						<div class="buy-item">
							<img class="caritem" src="../images/car15.png" alt="">
							<p class="car-name">丰田-雅阁2016款 混动<br><span>2.0L 锐酷版</span></p>
							<span class="car-money">折扣价：22.38万</span>
							<span class="disable">23.98万</span>
							<div class="apply-btn">
								立即申请
							</div>
						</div>
						<div class="buy-item">
							<img class="caritem" src="../images/car16.png" alt="">
							<p class="car-name">奔驰C级2017款 改款<br><span>C 200 运动版</span></p>
							<span class="car-money">折扣价：27.18万</span>
							<span class="disable">31.48万</span>
							<div class="apply-btn">
								立即申请
							</div>
						</div>
					</div>
			</div>
		</div>

		<div class="page-warrp">
			<span class="prev pages pages-w"><</span>
			<a href="buy1.html"><span class="pages pages-w ">1</span></a>
			<a href="buy2.html"><span class="pages pages-w current-page">2</span></a>
			<a href="buy3.html"><span class="pages pages-w">3</span></a>
			<span class="next pages pages-w">></span>
			<span class="pages pages-padd">16条/页</span>
			<span class="jump-page">跳至<input type="number" name="" value="">页</span>
		</div>
		<footer class="footer-warrp">
			<div class="foot-top-warrp">
				<div class="foot-top displayflex">
					<div class="foot-item">
						<p class="foot-big">版权信息</p>
						<p class="foot-center marginb20">&copy;Copyright© 北京火星车有限公司</p>
						<p class="foot-center">京ICP备16014307号-1</p>
					</div>
					<div class="foot-item">
						<p class="foot-big">联系我们</p>
						<p class="foot-center marginb20">地址：北京市朝阳区浦项中心b座26层</p>
						<p class="foot-center">邮编：100020</p>
					</div>
					<div class="foot-item">
						<!-- <p>联系我们</p> -->
						<p class="foot-center marginb20 margint49">联系方式：400-0339-393</p>
						<p class="foot-center">Email：hxckf@douman.com</p>
					</div>
				</div>
			</div>
			<div class="foot-bottom-warrp displayflex">
				<div class="">
					关于我们
				</div>
				<div class="returntop">
					<img style="width:15px;height:20px;" src="../images/arrow-up.png" alt="">
					返回顶部
				</div>
			</div>
		</footer>
		<!-- 信息提交反馈 -->
		<div class="info-warrp">
			<div class="info-main">
				<div class="info-topic displayflex">
					<span class="flex1">填写申请信息：</span>
					<span class="close"></span>
				</div>
				<div class="info-cont buy-from">
					<form class="">
						<p class="input-topic">申请人姓名</p>
						<input class="buy-input" type="text" name="" value="">
						<!-- <p class="prompt-info"><span class="shape"></span>请填写信息</p> -->
						<p class="input-topic">申请人所在城市</p>
						<input class="buy-input" type="text" name="" value="">
						<!-- <p class="prompt-info"><span class="shape"></span>请填写信息</p> -->
						<p class="input-topic">申请人手机号码</p>
						<input class="buy-input" type="text" name="" value="">
						<!-- <p class="prompt-info"><span class="shape"></span>请填写信息</p> -->
						<button class="buy-btn" type="submit" name="button">快速申请</button>
					</form>
				</div>
			</div>
		</div>
	<!-- </section> -->
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/swper.min.js"></script>
<script src="../js/public.js"></script>
</html>
