<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>火星车</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/swper.min.css">
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../css/base.css">
</head>
<body>
	<div class="head">
		<div class="logo">
			<img src="../images/logo.png" alt="">
		</div>
		<div class="nav">
			<a class="active" href="index.html">首页</a>
			<a href="index.html">买车</a>
			<a href="index.html">贷款</a>
			<a href="index.html">车源采购</a>
			<a href="index.html">关于我们</a>
		</div>
	</div>
	<div class="banner">
		<div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="">
                        <img src="../images/banner1.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="../images/banner2.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="../images/banner3.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="../images/banner4.png" alt="">
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- 公司简介 -->
    <div class="content paddingt45">
    	<div class="title-img">
	    	<img src="../images/title.png" alt="">
    	</div>
    	<div class="company displayflex">
    		<div class="img1"><img src="../images/img1.png" alt=""></div>
    		<div class="font1">
    			<h1>【火星车】 —— 以专业为本，以用户为上，让车商和用户都更为便捷！</h1>
    			<p>伴着互联网+的大风，豆蔓旗下火星车平台随势而生，通过汽车+渠道+金融+用户的整合运营方式，基于移动互联网技术及卓越的金融管理背景，火星车团队打造了一款能够为用户提供便捷、透明、价优、安全的“购车租车神器”。平台前期以平行进口车为业务核心，同时涵盖了新车在售、二手车品牌认证、汽车金融、车辆保险、汽车经纪、售后管理等综合性服务。</p>
    		</div>
    	</div>
    </div>
    <div class="content paddingt45">
    	<div class="title-img">
	    	<img src="../images/title2.png" alt="">
    	</div>
    	<div class="loan displayflex">
			<div class="loan-item">
				<div class="loan-top">
					<img src="../images/loan.png" alt="汽车质押">
					<p>汽车质押</p>
					<span>无需过户、手续简单、快速变现</span>
				</div>
				<div class="loan-bottom">
					<div class="loan-btn">
						立即申请
					</div>
				</div>
			</div>
			<div class="loan-item">
				<div class="loan-top">
					<img src="../images/loan.png" alt="售后回租">
					<p>售后回租</p>
					<span>无需过户、装GPS不押车</span>
				</div>
				<div class="loan-bottom">
					<div class="loan-btn">
						立即申请
					</div>
				</div>
			</div>
			<div class="loan-item">
				<div class="loan-top">
					<img src="../images/loan.png" alt="以租代购">
					<p>以租代购</p>
					<span>低首付、灵活选择分期计划</span>
				</div>
				<div class="loan-bottom">
					<div class="loan-btn">
						立即申请
					</div>
				</div>
			</div>
			<div class="loan-item">
				<div class="loan-top">
					<img src="../images/loan.png" alt="车源采购">
					<p>车源采购</p>
					<span>垫资代采、高额授信</span>
				</div>
				<div class="loan-bottom">
					<div class="loan-btn">
						立即申请
					</div>
				</div>
			</div>
    	</div>
    </div>
    <div class="content paddingt45">
    	<div class="title-img">
	    	<img src="../images/title3.png" alt="">
    	</div>
    	<div class="odds displayflex">
			<div class="odds-item">
				<div class="odds-cont">
					<div class="odds-img">
						<img src="../images/odds.png" alt="车源采购">
					</div>
					<p>车源采购</p>
					<span>垫资代采、高额授信</span>
				</div>
			</div>
			<div class="odds-item">
				<div class="odds-cont">
					<div class="odds-img">
						<img src="../images/odds.png" alt="车源采购">
					</div>
					<p>车源采购</p>
					<span>垫资代采、高额授信</span>
				</div>
			</div>
			<div class="odds-item">
				<div class="odds-cont">
					<div class="odds-img">
						<img src="../images/odds.png" alt="车源采购">
					</div>
					<p>车源采购</p>
					<span>垫资代采、高额授信</span>
				</div>
			</div>
			<div class="odds-item">
				<div class="odds-cont">
					<div class="odds-img">
						<img src="../images/odds.png" alt="车源采购">
					</div>
					<p>车源采购</p>
					<span>垫资代采、高额授信</span>
				</div>
			</div>
    	</div>
    </div>
    <div class="content paddingt45">
    	<div class="title-img">
	    	<img src="../images/title4.png" alt="">
    	</div>
    	<div class="application displayflex">
			<div class="application-item">
				<div class="application-cont">
					<!-- <div class="pentagon">
						<img src="../images/application.png" alt="">
					</div> -->
					<!-- <div class="application-top">

					</div> -->
					<img src="../images/applications.png" alt="">
					<p>客户经理跟进</p>
				</div>
			</div>
			<div class="application-item">
				<div class="application-cont">
					<!-- <div class="pentagon">
						<img src="../images/application.png" alt="">
					</div> -->
					<!-- <div class="application-top">

					</div> -->
					<img src="../images/applications.png" alt="">
					<p>客户经理跟进</p>
				</div>
			</div>
			<div class="application-item">
				<div class="application-cont">
					<!-- <div class="pentagon">
						<img src="../images/application.png" alt="">
					</div> -->
					<!-- <div class="application-top">

					</div> -->
					<img src="../images/applications.png" alt="">
					<p>客户经理跟进</p>
				</div>
			</div>
			<div class="application-item">
				<div class="application-cont">
					<!-- <div class="pentagon">
						<img src="../images/application.png" alt="">
					</div> -->
					<!-- <div class="application-top">

					</div> -->
					<img src="../images/applications.png" alt="">
					<p>客户经理跟进</p>
				</div>
			</div>
    	</div>
    </div>
	<div class="greybg">
		<div class="content paddingt45">
	    	<div class="title-img">
		    	<img src="../images/title5.png" alt="">
	    	</div>
	    	<div class="pinpai">
				<div class="swiper-container container">
			        <div class="swiper-wrapper wrapper">
			            <div class="swiper-slide">
							<img style="width:136px" src="../images/pinpai.png" alt="">
						</div>
			            <div class="swiper-slide">
							<img style="width:136px" src="../images/pinpai.png" alt="">
						</div>
			            <div class="swiper-slide">
			            	<img style="width:136px" src="../images/pinpai.png" alt="">
			            </div>
			            <div class="swiper-slide">
			            	<img style="width:136px" src="../images/pinpai.png" alt="">
			            </div>
			            <div class="swiper-slide">
			            	<img style="width:136px" src="../images/pinpai.png" alt="">
			            </div>
						<div class="swiper-slide">
							<img style="width:136px" src="../images/pinpai.png" alt="">
						</div>
			            <div class="swiper-slide">
							<img style="width:136px" src="../images/pinpai.png" alt="">
						</div>
			            <div class="swiper-slide">
			            	<img style="width:136px" src="../images/pinpai.png" alt="">
			            </div>
			            <div class="swiper-slide">
			            	<img style="width:136px" src="../images/pinpai.png" alt="">
			            </div>
			            <div class="swiper-slide">
			            	<img style="width:136px" src="../images/pinpai.png" alt="">
			            </div>
			            <!-- <div class="swiper-slide">Slide 6</div>
			            <div class="swiper-slide">Slide 7</div>
			            <div class="swiper-slide">Slide 8</div>
			            <div class="swiper-slide">Slide 9</div>
			            <div class="swiper-slide">Slide 10</div> -->
			        </div>
			        <!-- Add Pagination -->
			        <!-- <div class="swiper-pagination"></div> -->
					<!-- Add Arrows -->
			        <div class="swiper-button-next swiper-btn">
			        	<img src="../images/arrow-right.png" alt="">
			        </div>
			        <div class="swiper-button-prev swiper-btn">
			        	<img src="../images/arrow-left.png" alt="">
			        </div>
			    </div>
	    	</div>
	    </div>
	</div>
	<footer class="footer-warrp">
		<div class="foot-top-warrp">
			<div class="foot-top displayflex">
				<div class="foot-item">
					<p class="foot-big">版权信息</p>
					<p class="foot-center marginb20">&copy;Copyright© 北京火星车有限公司</p>
					<p class="foot-center">京ICP备16014307号-1</p>
				</div>
				<div class="foot-item">
					<p class="foot-big">联系我们</p>
					<p class="foot-center marginb20">地址：北京市朝阳区浦项中心b座26层</p>
					<p class="foot-center">邮编：100020</p>
				</div>
				<div class="foot-item">
					<!-- <p>联系我们</p> -->
					<p class="foot-center marginb20 margint49">地址：北京市朝阳区浦项中心b座26层</p>
					<p class="foot-center">邮编：100020</p>
				</div>
			</div>
		</div>
		<div class="foot-bottom-warrp displayflex">
			<div class="">
				关于我们
			</div>
			<div class="">
				<img style="width:15px;height:20px;" src="../images/arrow-up.png" alt="">
				返回顶部
			</div>
		</div>
	</footer>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/swper.min.js"></script>
<script src="../js/public.js"></script>
</html>
