<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>火星车</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/swper.min.css">
	<link rel="stylesheet" href="../css/public.css">
</head>
<body>
	<div class="head">
		<div class="logo">
			<img src="../images/logo.png" alt="">
		</div>
		<div class="nav">
			<a class="active" href="index.html">首页</a>
			<a href="index.html">买车</a>
			<a href="index.html">贷款</a>
			<a href="index.html">车源采购</a>
			<a href="index.html">关于我们</a>
		</div>
	</div>
	<div class="banner">
		<div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="">
                        <img src="../images/banner1.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="../images/banner2.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="../images/banner3.png" alt="">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="">
                        <img src="../images/banner4.png" alt="">
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- 公司简介 -->
    <div class="content">
    	<div class="title-img">
	    	<img src="../images/title.png" alt="">
    	</div>
    	<div class="company">
    		<div class="img1"><img src="../images/img1.png" alt=""></div>
    		<div class="font1">
    			<h1>【火星车】 —— 以专业为本，以用户为上，让车商和用户都更为便捷！</h1>
    			<p>伴着互联网+的大风，豆蔓旗下火星车平台随势而生，通过汽车+渠道+金融+用户的整合运营方式，基于移动互联网技术及卓越的金融管理背景，火星车团队打造了一款能够为用户提供便捷、透明、价优、安全的“购车租车神器”。平台前期以平行进口车为业务核心，同时涵盖了新车在售、二手车品牌认证、汽车金融、车辆保险、汽车经纪、售后管理等综合性服务。</p>
    		</div>
    	</div>
    </div>
    <div class="content">
    	<div class="title-img">
	    	<img src="../images/title2.png" alt="">
    	</div>
    	<div></div>
    </div>
    <div class="content">
    	<div class="title-img">
	    	<img src="../images/title3.png" alt="">
    	</div>
    	<div></div>
    </div>
    <div class="content">
    	<div class="title-img">
	    	<img src="../images/title4.png" alt="">
    	</div>
    	<div></div>
    </div>
    <div class="content">
    	<div class="title-img">
	    	<img src="../images/title5.png" alt="">
    	</div>
    	<div></div>
    </div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/swper.min.js"></script>
<script src="../js/public.js"></script>
</html>