<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>火星车</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/swper.min.css">
	<link rel="stylesheet" href="../css/public.css">
</head>
<body>
	<div class="head container-fuild">
		<div class="col-xs-6"></div>
		<div class="col-xs-6"></div>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/swper.min.js"></script>
<script src="../js/public.js"></script>
</html>