<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../css/login.css">
	<title>涌时</title>
</head>
<body>
	<div class="login-bg">
		<div class="ys-system-icon">
			<img src="../images/login-topic.png" alt="涌时融租运营管理系统">
		</div>
		<div class="login-frame">
			<div class="login-frame-topic">
				欢迎登陆系统
			</div>
			<div class="login-frame-cont">
				<form class="">
					<p class="login-font">用户名／员工号／手机号</p>
					<input type="text" name="" value="" class="input-frame" required="required">
					<!-- <span class="prompt-info user-info"></span> -->
					<p class="login-font">密码</p>
					<input type="password" name="" value="" class="input-frame" required="required">
					<!-- <span class="prompt-info paw-info"></span> -->
					<p class="login-font">验证码</p>
					<div class="verification-warrp">
						<input type="text" name="" value="" class="input-frame verification" placeholder="请输入" required="required">
						<!-- <input type="button" class="code" onclick=""/> -->
						<span class="code">
                            <img src="../images/yanzheng.png" title="看不清楚？换一张">
                        </span>
					</div>
					<span class="prompt-info ver-info"></span>
					<input type="submit" name="" value="登陆系统" class="input-frame login-sub" id="loginsubmit" placeholder="登陆系统">
				</form>
			</div>
		</div>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/login.js"></script>
</html>
