<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>火星车</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/swper.min.css">
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../css/base.css">
</head>
<body>
	<div class="head">
		<div class="logo">
			<img src="../images/logo.png" alt="">
		</div>
		<div class="nav">
			<a href="index.html">首页</a>
			<a href="buy1.html">买车</a>
			<a class="active" href="money.html">贷款</a>
			<a href="car.html">车源采购</a>
			<a href="about.html">关于我们</a>
		</div>
	</div>
	<div class="banner">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="">
						<img src="../images/banner5.png" alt="">
					</a>
				</div>
				<div class="swiper-slide">
					<a href="">
						<img src="../images/banner6.png" alt="">
					</a>
				</div>
				<div class="swiper-slide">
					<a href="">
						<img src="../images/banner7.png" alt="">
					</a>
				</div>
				<div class="swiper-slide">
					<a href="">
						<img src="../images/banner8.png" alt="">
					</a>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<section class="cont-warrp">
		<form class="">
			<div class="content">
				<div class="main-topic money-topic">
					<span>在线申请：填写后我们将尽快电话联系您</span>
				</div>
				<div class="money-cont">
					<div class="money-form">
						<div class="displayflex marginb20">
							<span>
								<span class="redf">*</span>贷款类型：
							<input type="radio" name="money" value="" checked>
							<label name="" for="">抵押类（不需要押车）</label>
							<input type="radio" name="money" value="">
							<label name="" for="">质押类（需要押车）</label>
							</span>
						</div>
						<div class="displayflex marginb20">
							<div class="flex1">
									<span><span class="redf">*</span>真实姓名：<input class="form-info" type="text" name="" value="" placeholder="如：张大大"></span>
							</div>
							<div class="flex1 textcenter">
									<span><span class="redf">*</span>手机号码：<input class="form-info" type="text" name="" value="" placeholder="请输11位手机号码"></span>
							</div>
							<div class="flex1 textright">
									<span><span class="redf">*</span>车辆登记城市：<input class="form-info" type="text" name="" value="" placeholder="填写省市"></span>
							</div>
						</div>
						<div class="displayflex marginb20">
							<div class="flex1">
									<span><span class="redf">*</span>是否在押：<select class="form-info" name="" id="">
			        						<option class="display-none" value="请选择">请选择</option>
			        						<option value="是">是</option>
			        						<option value="否">否</option>
		    					    	</select>
									</span>
							</div>
							<div class="flex1 textcenter">
									<span><span class="redf">*</span>车身颜色：<input class="form-info" type="text" name="" value="" placeholder="请输11位手机号码"></span>
							</div>
							<div class="flex1 textright">
									<span><span class="redf">*</span>车辆行驶里程：<input class="form-info" type="text" name="" value="" placeholder="填写省市"></span>
							</div>
						</div>
						<ul class="marginb20 two-ul">
							<li class="">
									<span><span class="redf">*</span>购车方式：
									<input type="radio" name="car" value="" checked>
									<label name="nba" for="">全款</label>
									<input type="radio" name="car" value="">
									<label name="nba" for="">分期</label>
									</span>
							</li>
							<li class="">
									<span><span class="redf">*</span>选择车型：<select class="form-info select-s" name="" id="">
			        						<option class="display-none" value="请选择">请选择</option>
			        						<option value="是">是</option>
			        						<option value="否">否</option>
		    					    	</select>
										车型：<select class="form-info select-s" name="" id="">
				        						<option class="display-none" value="请选择">请选择</option>
				        						<option value="是">是</option>
				        						<option value="否">否</option>
		    					    	</select>
										具体型号：<select class="form-info select-s" name="" id="">
				        						<option class="display-none" value="请选择">请选择</option>
				        						<option value="是">是</option>
				        						<option value="否">否</option>
			    					    </select>
									</span>
							</li>
						</ul>
						<div class="displayflex">
							<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;留言：</span><textarea name="name" class="textarea" placeholder="请输入"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="foot">
				<div class="money-form textright">
					<button class="button submit-btn" type="button" name="button">提交申请</button>
				</div>
			</div>
		</form>
	</section>
	<footer class="footer-warrp">
		<div class="foot-top-warrp">
			<div class="foot-top displayflex">
				<div class="foot-item">
					<p class="foot-big">版权信息</p>
					<p class="foot-center marginb20">&copy;Copyright© 北京火星车有限公司</p>
					<p class="foot-center">京ICP备16014307号-1</p>
				</div>
				<div class="foot-item">
					<p class="foot-big">联系我们</p>
					<p class="foot-center marginb20">地址：北京市朝阳区浦项中心b座26层</p>
					<p class="foot-center">邮编：100020</p>
				</div>
				<div class="foot-item">
					<!-- <p>联系我们</p> -->
					<p class="foot-center marginb20 margint49">联系方式：400-0339-393</p>
					<p class="foot-center">Email：hxckf@douman.com</p>
				</div>
			</div>
		</div>
		<div class="foot-bottom-warrp displayflex">
			<div class="">
				关于我们
			</div>
			<div class="returntop">
				<img style="width:15px;height:20px;" src="../images/arrow-up.png" alt="">
				返回顶部
			</div>
		</div>
	</footer>
	<!-- 信息提交反馈 -->
	<div class="info-warrp">
		<div class="info-main">
			<div class="info-topic displayflex">
				<span class="flex1">抵押类在线申请：</span>
				<span class="close"></span>
			</div>
			<div class="info-cont ">
				<div class="displayflex f20 marginb97">
					<span class="warning"></span>信息已提交，请耐心等待工作人员与您联系
				</div>
				<div class="sure-btn">
					确定
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/swper.min.js"></script>
<script src="../js/public.js"></script>
</html>
